@model IEnumerable<ProyectoRecursosHumanos.Models.cargos>

@{
    ViewBag.Title = "CargosDeEmpleados";
}

<h2>Cargos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cargo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cargo)
        </td>
        <td>
          <button class="btn btn-warning">  @Html.ActionLink("Edit", "Edit", new { id=item.id }) </button> |
          <button class="btn btn-link">   @Html.ActionLink("Details", "Details", new { id = item.id })</button> |
             <button class="btn btn-danger"> @Html.ActionLink("Delete", "Delete", new { id = item.id })</button>
        </td>
    </tr>
}

</table>
