@model ProyectoRecursosHumanos.Models.empleados

@{
    ViewBag.Title = "Eliminar Empleado";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de esto?</h3>
<div>
    <h5>Eliminar Empleados</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargos.cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargos.cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamentos.codigo_depar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamentos.codigo_depar)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <button class="btn btn-default">@Html.ActionLink("Volver", "Index") </button>
        </div>
    }
</div>
