@model IEnumerable<ProyectoRecursosHumanos.Models.empleados>

@{
    ViewBag.Title = "ListaDeEmpleados";
}

<h2>Listado De Empleados</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create")
</p>

@using (Html.BeginForm("Index", "empleados", FormMethod.Post))
{
    <div class="container">
        Buscar por Nombre @Html.TextBox("consulta")  Buscar por Departamento @Html.DropDownList("Departamento", null, new { })
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div> <br/>
}
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargos.cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departamento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.estatus == "Activo")
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_empleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_ingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargos.cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamentos.nombre)
            </td>
            <td>
              <button style="color:white" class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = item.id })</button> |
              <button class="btn btn-secondary"> @Html.ActionLink("Details", "Details", new { id = item.id }) </button>|
              <button class="btn btn-danger"> @Html.ActionLink("Delete", "Delete", new { id = item.id }) </button>
            </td>
        </tr>
        }
    }
</table>
